<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Amount Classification">
    <test name="Package Tests">
        <groups>
            <run>
                <include name="equivalence"/>
            </run>
        </groups>
        <packages>
            <package name="atm.System.Testing"/>
        </packages>
    </test>
</suite>
